link(rel='stylesheet',href='Semantic/semantic.css')
script(src='Semantic/semantic.js')

.ui.inverted.raised.segment
	.ui.row
		.ui.three.column.grid
			.four.wide.column
			.four.wide.column
				a.ui.tiny.inverted.button(href='#') Sign Up
				a.ui.tiny.inverted.button(href='#') Log in
			.eight.wide.column
				button.ui.black.button Home
				button.ui.black.button Work
				button.ui.black.button Company
				button.ui.black.button Careers
	h1
	h1
	h1
	h1
	h1
	center
		h1
			span What-a-Company
		h2 
			span The Best You Can Get
		button.ui.blue.large.button Get Started
			i.right.arrow.icon
	h1
	h1
	h1
	h1
	h1
	h1
.ui.raised.segment
	.ui.row
		.ui.four.column.grid
			.two.wide.column
			.six.wide.column
				h1 We Help Companies and Companions
				span We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.
				.ui.horizontal.divider
				h1 We Make Bananas That Can Dance
				span Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.
				h1
				center
					button.ui.blue.large.button Check Them Out
						&nbsp;
						i.send.outline.icon
			.two.wide.column
			.six.wide.column
				img(src="2.jpg").ui.massive.image
.ui.raised.segment
	.ui.divider
	.ui.two.column.grid
		.ui.vertical.divider
		.eight.wide.column
			h1
			h1
			center
				h1 "What a Company"
				span That is what they all say about us
			h1
			h1
		.eight.wide.column
			h1
			h1
			center
				h1 "I shouldn't have gone with their competitor."
				img.ui.avatar.image(src='nan.jpg')
				b Nan
				"Nan Chief Fun Officer Acme Toys"
			h1
			h1
	.ui.divider
.ui.raised.segment
	.ui.three.grid.column
		.four.wide.column
		.eight.wide.column
			center
				h1 Breaking The Grid, Grabs Your Attention
				span Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
				h1
				button.ui.blue.large.button Read More
				.ui.horizontal.divider 
					span.ui.blue.header CASE STUDIES
				h1 Did We Tell You About Our Bananas?
				span Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
				h1
				button.ui.blue.large.button I'm Still Quite Interested
		.four.wide.column
	